.slider__wrapper {
  position: relative;
  width: 700px;
  height: 400px;
  background-color: aqua;
  overflow: hidden;
}
.slider2__wrapper {
  position: relative;
  width: 1200px;
  height: 700px;
  background-color: aqua;
  overflow: hidden;
}
